button {
    font-weight: bolder;
    color: rgba(248, 122, 248, 0.89);
    background-color: rgb(19, 80, 246);
    border: 1px solid rgba(248, 9, 248, 0.89);
    border-radius: 10px;
    padding: 15px;
    cursor: pointer;
    height:60px;
    margin:  20px;
    font-size: 25px;
    transition: all 0.2s ease-in-out;
    }
    button:hover {
    box-shadow: 1px 1px  rgba(248, 9, 248, 0.89), 2px 2px  rgba(248, 9, 248, 0.89), 3px 3px  rgba(248, 9, 248, 0.89);
    transform: translateX(-3px);
    }

.cat-pic {
    width: 200px;
    margin: 15px;
    
}

.book-pic-select {
    width: 180px;
    margin: 15px;

}

#gender-form {
    width: 70%;
}

#final-div {
    margin-bottom: 80px;
}


a:hover {
    opacity: 60%;
}

#pic-selector-div, #info-selector-div, #cat-selector-div, #dog-selector-div, #generate-profile-div, #gender-div, #book-selector-div, #book-selected-div, #quote-selector-div {
    width: 100%;
    margin: 35px;
    border-radius: 35px;
    background: lightsteelblue;
    padding: 20px;
    font-family: 'Fredoka One', cursive;
    margin-bottom: 80px;
}

.bShadow-34,.bShadow-34h:hover{
    box-shadow:rgba(0, 0, 0, 0.2) -15px 15px 5px -5px;
    border-radius: 35px;
 
}
   
#profile-ul {
    margin: auto;
    border-radius: 35px;
    background: lightsteelblue;
    padding: 20px;
    font-size: 20px;
    font-family: 'Viga', sans-serif;
}    


.brand-logo {
    animation: color-change 14s infinite, 3s slide-right;
    font-family: 'Titan One', cursive;
    font-size: 60px !important;
    overflow: hidden;
    }

@keyframes color-change {
    0% { color: rgb(6, 3, 199); }
    20% { color: rgb(184, 0, 184) }
    40% { color: rgb(116, 1, 116)}
    60% { color: rgb(184, 0, 184); }
    80% { color: rgb(6, 3, 199)}
    100% { color: rgb(32, 0, 173); }
}

@keyframes slide-right {
    from {
      margin-left: -100%;
      width: 300%; 
    }
  
    to {
      margin-left: 0%;
      width: 100%;
    }
  }


@keyframes fade-in-bottom-right{
    from{
        opacity: 0;
        transform: translate3d(100%, 100%, 0);
    }
    to{
        opacity: 1;
        transform: translate3d(0, 0, 0);
    }
}

.fade-in-bottom-right{
    animation-name: fade-in-bottom-right;
}